@import "../../../vars";

.studentSayItem-con{
    width: 370px;
    padding: 24px;
    background-color: #fff;
    -webkit-box-shadow: 13px 9px 13px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 13px 9px 13px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 13px 9px 13px 0px rgba(34, 60, 80, 0.2);
}