@import "../../vars";

.inputComment-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $blue;
    margin: 50px 15%;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 60px;

        .input-title{
            @include FontTitle(100%);
            text-align: center;
            color: #fff;
    
            & > *{
                color: #fff !important;
            }
        }

        .input-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            height: 60px;
            width: 100%;
            margin-top: 40px;
            background-color: #fff;
            padding: 5px 10px;
            &>*{
                border: none;
                outline: none;
                // background: transparent;
            }
            button{
                height: 100%;
                width: 120px;
                background-color: $blue;
                border-radius: 8px;
                color: #fff;
                margin-left: 3px;
                cursor: pointer;
            }
            input{
                height: 100%;
                width: 100%;

                font-size: 20px;
            }
        }
    }

}


@media only screen and (max-width: 593px){
    .inputComment-con{
        display: none;
    }
}